.searchInput {
        border-Radius: 5px;
        border:0;
        font-Size: 1rem;
        font-Weight: bold;
        margin: 3rem;
        outline: 0;
        padding: 1rem;
}

.searchInputsss {
        background: powderBlue;
        
}